
<div class="buy">
	<div class="buy_title">结算中心</div>
	<div class="buy_uinfo">
		<div class="buy_t">收货人信息</div>
		<div class="buy_con">
			<p class="clearfix">
				<label>收货人姓名：</label>
				<input type="text" name="" value="" class="iInput" />
			</p>
			<p class="clearfix">
				<label>手机：</label>
				<input type="text" name="" value="" class="iInput" />
			</p>
			<p class="clearfix">
				<label>电话：</label>
				<input type="text" name="" value="" class="iInput" />
			</p>
			<p class="clearfix">
				<label>收货地址：</label>
				<input type="text" name="" value="" class="iInput" />
			</p>
			<p class="clearfix">
				<label>街道地址：</label>
				<textarea name="" class="iText"></textarea>
			</p>
			<p class="clearfix">
				<label>邮政编码：</label>
				<input type="text" name="post" value="" class="iInput" />
			</p>
		</div>
		<div class="buy_t">支付方式</div>
		<div class="buy_con">
			<ul class="payment">
				<li><input type="radio" name="payment" value="alipay" checked="checked" /> 支付宝</li>
			</ul>
		</div>
	</div>
	<div class="buy_pinfo">
		<table class="c_tb" style="border:0;">
			<tr>
				<th>&nbsp;</th>
				<th>书名</th>
				<th class="price">单价</th>
				<th class="q">数量</th>
				<th class="price">小计</th>
				<th>&nbsp;</th>
			</tr>
		<% for item in @cart.cart_items %>
			<tr>
				<td class="i"><img src="<%= item.product.image_file_name %>" style="height:60px;"></td>
				<td class="t"><a href="<%= item.product.show_url %>">《<%= item.product.title %>》</a></td>
				<td class="p"><%= item.product.sale_price %></td>
				<td class="p"><%= item.quantity %></td>
				<td class="p"><%= item.product.sale_price %></td>
				<td>&nbsp;</td>
			</tr>
		<% end %>
			<tr>
				<td colspan="6" class="total">合计：</td>
			</tr>
		</table>
	</div>
	<div class="buy_price">
		实付款(含运费)： <span>43.20</span> 元
	</div>
</div>
<div class="buy_c">
	<input type="submit" name="submit" value="确认无误，购买" class="btn_common" /><a href="/cart">返回购物车</a>
</div>
